#myChat-div{
    background-color: rgb(230, 160, 160);
    height: 91vh;
    width: 50vh;
}
#myChat-Box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(204, 255, 0);
}